config natmap
	option enable '0'
	option ip_address_family ''
	option link_mode 'general'
	option nat_name ''
	option nat_protocol '1'
	option wan_interface ''
	option interval ''
	option stun_server 'stunserver.stunprotocol.org'
	option http_server 'example.com'
	option bind_port '8080'
	option notify_script ''
	option forward_enable '0'
	option forward_target ''
	option forward_port ''
	option forward_mode 'local'
	option target_interface ''
	option forward_use_natmap '0'
	option ikuai_web_url ''
	option ikuai_username ''
	option ikuai_password ''
	option ikuai_mapping_protocol ''
	option ikuai_mapping_wan_interface ''
	option notify_enable '0'
	option notify_channel 'telegram_bot'
	option notify_channel_telegram_bot_chat_id 'chat_id'
	option notify_channel_telegram_bot_token 'token'
	option notify_channel_pushplus_token 'token'
	option emby_url ''
	option emby_api_key ''
	option emby_use_https '0'
	option emby_update_host_with_ip '0'
	option qb_web_ui_url ''
	option qb_username ''
	option qb_password ''
	option qb_ipv6_address '::/-64'
	option qb_allow_ipv6 '1'
	option tr_rpc_url ''
	option tr_username ''
	option tr_password ''
	option tr_ipv6_address '::/-64'
	option tr_allow_ipv6 '1'
	option cloudflare_email ''
	option cloudflare_api_key ''
	option cloudflare_zone_id ''
	option cloudflare_rule_name ''
	option proxy ''




